<h4>New Post</h4>
<%= form_for @new_blog_post, role: 'form' do |f| %>
  <div class='form-group'>
    <%= f.label :title, hidden: true %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
  </div>
  <div class='form-group'>
    <%= f.label :conten, hidden: true  %>
    <%= f.text_area :content, rows: 15, class: 'form-control', placeholder: 'Markdown-parsed content...' %>
  </div>
  <div class='form-group'>
    <%= f.submit :Post, class: 'btn' %>
  </div>
<% end %>
