<nav>
	<%= link_to 'Home', :root  %>
	<%= link_to 'About', :about  %>
	<%= link_to 'Projects', :projects  %>
  <%= link_to 'Media', :media  %>
  <%= link_to 'Albums', :albums  %>
  <%= link_to 'Contact', :contact  %>
</nav>