<h1>Media</h1>

<%= form_for @new_media do |f| %>
  <%= f.text_area :html %>
  <br>
  <%= f.submit 'Post' %>
<% end %>

<ul>
<% Media.all.reverse.each do |media_post| %>
  <% log media_post.html  %>
  <li>
  <%= link_to 'Delete', "media/#{media_post.id}", method: :delete %><br>
  <%= raw @markdown.render(media_post.html) %>
  </li>
  <br>
<% end %>
</ul>