<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> | Andrew Kofink</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= render 'shared/custom_meta_tags' %>
    <%= render 'shared/google_analytics' %>
  </head>
  <body>

    <%= render 'shared/navigation' %>

    <%= render 'shared/github_fork' %>

    <div class='container'>
      <div class='row'>
        <div class='col-md-10'>
          <%= render 'shared/flash' %><br />
        </div>
      </div>

      <div class='row'>
        <%= yield %>
      </div>
    </div>

    <%= render 'shared/development' %>

    <%= render 'shared/custom_javascript' %>
  </body>
</html>
