<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> | Andrew Kofink</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/github_fork' %>

<%= render 'shared/navigation' %>

<%= yield %>

<%= render 'shared/development' %>

</body>
</html>