<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> | Andrew Kofink</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'shared/custom_meta_tags' %>
    <%= render 'shared/google_analytics' %>
  </head>
  <body>

    <%= render 'shared/navigation' %>

    <div class='container'>
      <div class='row-fluid'>
        <div class='span12'>
          <div class='row-fluid'>
            <div class='span8'>
              <%= yield %>
            </div>

            <div class='span4'>
              <%= render 'shared/twitter_feed' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render 'shared/development' %>

    <%= render 'shared/custom_javascript' %>
  </body>
</html>
